.imagem-carrossel{
    object-fit: cover;
    /*object-position: 0 5% ;*/
    height: 500px;
}
.imagem-carrossel2{
    object-fit: cover;
    object-position: 0 50% ;
    height: 500px;
}
.imagem-carrossel3{
    object-fit: cover;
    object-position: 50% 50% ;
    height: 500px;
}

.titulo-carrossel{
    font-family: 'Viga', sans-serif;
    color: black;
}

.titulo-carrossel2{
    font-family: 'Viga', sans-serif;
    color: black;
    background-color: rgba(255,255,255,0.5);
}

.cab-textos{
    color: black;
}

.borda-card{
    border: none;
}

.card-posicao-imagem{
    object-fit: cover;

}

.card-largura{
    max-width: 20rem;

}

.imagem-sobre{
    object-fit: cover;
    height: 150px;
    max-width: 14rem;
}

html{
    scroll-behavior: smooth;
}

.tamanho-fonte{
    font-size: larger;
}

.animacao{
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

.animacao-start{
    opacity: 1;
    transform: translate3d(0,0,0);
}

.zoom {
    overflow: hidden;
}

.zoom img {
    max-width: 100%;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s ;
    transition: all 0.3s;
}

.zoom:hover img {
    -moz-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}


@-webkit-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@-moz-keyframes fadeIn {
    0% { opacity: 0;}
    100% { opacity: 1; }
}
@-o-keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.fadeIn {
    -webkit-animation: fadeIn 3s ease-in-out;
    -moz-animation: fadeIn 3s ease-in-out;
    -o-animation: fadeIn 3s ease-in-out;
    animation: fadeIn 3s ease-in-out;
}

