.imagem-carrossel{
    object-fit: cover;
    /*object-position: 0 5% ;*/
    height: 500px;
}
.imagem-carrossel2{
    object-fit: cover;
    object-position: 0 50% ;
    height: 500px;
}
.imagem-carrossel3{
    object-fit: cover;
    object-position: 50% 50% ;
    height: 500px;
}

.titulo-carrossel{
    font-family: 'Viga', sans-serif;
    color: black;
}

.titulo-carrossel2{
    font-family: 'Viga', sans-serif;
    color: black;
    background-color: rgba(255,255,255,0.5);
}

.cab-textos{
    color: black;
}

.borda-card{
    border: none;
}

.card-posicao-imagem{
    object-fit: cover;

}

.card-largura{
    max-width: 20rem;

}

.imagem-sobre{
    object-fit: cover;
    height: 150px;
    max-width: 14rem;
}

html{
    scroll-behavior: smooth;
}

.tamanho-fonte{
    font-size: larger;
}

.animacao{
    opacity: 0;
    transform: translate3d(-100px,0,0);
    transition: .3s;
}

.animacao-start{
    opacity: 1;
    transform: translate3d(0,0,0);
}
